<app-navbar></app-navbar>
<div align="center">
  <h1>This is the product page!</h1>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title align="left">Product name</mat-card-title>
      <mat-card-subtitle align="left">Product short description</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="photo of my product">
    <mat-card-content>
      <p>
        Product description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>
<div>
  <app-categories-tree-view></app-categories-tree-view>
</div>

</div>
